<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script th:inline="javascript">
    var date=new Date().toString();
    var splitDate=date.split(' ');
    var time=splitDate[4].substring(0,5);
    var parsedTime;
    if(Number(time.substring(0,2))>=12){
        time=String(Number(time.substring(0,2))-12)+time.substring(2,time.length);
        time=time+" pm";
    }else{
        time=time+" am";
    }

    console.log(time);
</script>
</body>
</html>